<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MezaseZenkan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4471F69A281045C4001EAC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4471F6B3281045C6001EAC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4471F6BD281045C6001EAC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
